*{
    box-sizing: border-box;
    padding: opx;
    margin: 0px;
}
body{
    background-color: gainsboro;
    border: 7px groove darkseagreen;
    border-radius: 10px;
    margin: 100px auto;
    max-width: 350px;
    padding: 50px;
    position: relative;
}
.main{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50px, -50px);
}
.welcom{
    font-size: xx-large;
    padding: 20px;
}

button{
    margin: 20px;
    padding: 20px;
    font-size: x-large;
    background-color: darkseagreen;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    background-color: aquamarine;
}